.profile-container
  = render '/layouts/header'

  %main.profile-content.clearfix
    = render '/layouts/sidenav'

    .profile-main
      = form_with model:@user,local: true do |f|
        .profile-main__js
          変更しました
          %i.fal.fa-times
        .profile-main__content
          %h2.profile-main__content-head
            プロフィール
          .profile-main__content-icon
            .profile-main__content-icon__img
              %img{hight: "50", src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "50"}
            = f.text_field :nickname, type: "text", class: "profile-main__content-icon__name"
          .profile-main__content-text
            = f.text_area :text, class: "profile-main__content-text__textarea", placeholder: "例) こんにちは。ご覧いただきありがとうございます!かわいいものやきれいめきれいめオフィスカジュアル中心に出品してます!"
            = f.submit "変更する", class: "profile-main__content-text__button"
              
  
  = render '/layouts/sale-logo'
  = render '/layouts/footer' 