.boby-main
  = render partial: 'users/header'
  .single-main
    .main
      %h2 新規会員登録
      = link_to root_path do
        .main__mail
          %i.fa.fa-envelope
          メールアドレスで登録する
      = link_to root_path do
        .main__facebook
          %i.fab.fa-facebook-square
          facebookで登録する
      = link_to root_path do
        .main__google
          %i.fab.fa-google
          Googleで登録する
  
  = render partial: 'users/footter'

