.sign-up
  =render '/users/registrations/sign_up_header'
  .sign-up__form
    %h3.sign-up__form-heading 住所確認
    .sign-up__form-container
      = form_with model:[@user,@adress] ,local:true do |f|

        .sign-up_field
          .sign-up_field-label
            = f.label :zipcode ,'郵便番号'
            %span 必須
          = f.text_field :zipcode,class:'sign-up_field-input',placeholder:'例）123−4567'        

        .sign-up_field
          .sign-up_field-label
            = f.label :prefectures, "都道府県"
            %span 必須
          = f.text_field :prefectures,class:'sign-up_field-input',placeholder:'例）北海道'        
        .sign-up_field
          .sign-up_field-label
            = f.label :city ,'市区町村'
            %span 必須
          = f.text_field :city,class:'sign-up_field-input',placeholder:'例）横浜市緑区'        
        .sign-up_field
          .sign-up_field-label
            = f.label :adress ,'番地'
            %span 必須
          = f.text_field :adress,class:'sign-up_field-input',placeholder:'例）青山1−1−1'        
        .sign-up_field
          .sign-up_field-label
            = f.label :building ,'建物名'
            %span 必須
          = f.text_field :building,class:'sign-up_field-input',placeholder:'例）柳ビル103'        
        .sign-up_field
          .sign-up_field-label
            = f.label :phone_number ,'電話'
            %span 必須
          = f.text_field :phone_number,class:'sign-up_field-input',placeholder:'例）09012345678'        
        
        =f.submit  "次に進む" ,class:"sign-up-next "
        
=render '/momo/footter'