.single-container
  = render '/momo/header'

  .single__main
    .l-single-container
      .l-single-head
        購入内容の確認
      .buy-content
        .buy-content-inner_buy
          .buy-item-image
            -# =image_tag "#{@product.images[0][:src]}", class: 'buy__image__Photo'
            =image_tag @product.images[0].src.url,class:"buy__image__Photo"
            -# =image_tag "/member_photo_noimage_thumb.png", class: 'buy__image__Photo'
            .buy-item-name
              = @product.name


          .buy-price-boxs
            .buy-price
              %ul.buy-price-box
                %li.buy-price-ja
                  = @product.price
                %li.item-shipping-fee
                  送料込み
              .buy-accordion
                ポイントはありません
              %ul.buy-price-table
                %il.buy-price-table-row
                  .buy-price-table-cell-left
                    支払い金額
                  .buy-price-table-cell-right
                    = @product.price
              =form_with url:"/" do |f|
                %ladel.purchase__button
                  = button_tag type: 'submit', class: "purchase__button__decision" do
                    購入する


      .buy-content-2
        .buy-content-inner_buy
          配送先
          .buy-user-info-text
            %p
            〒　000-000
            %br/
            大阪府　大阪市　大坂　0ー000
            %br/
            亦賀 周平
            .buy-user-info-fix
              =link_to "", class: "buy-user-info-fix-l" do
                変更する
                %i.fas.fa-chevron-right
      .buy-content-3
        .buy-content-inner_buy
          支払い方法
          %p 
          ************1309
          %br/
          10 / 19
          .444 VISA
          .buy-user-info-fix
            =link_to "", class: "buy-user-info-fix-l" do
              変更する
              %i.fas.fa-chevron-right




  = render '/momo/footter'










